In [1]:
from __future__ import print_function
import sys
import csv
import pandas as pd
import pylab as pl
import os
import json
import seaborn
import statsmodels.formula.api as smf
import scipy.stats

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [2]:
#url = "https://www.wunderground.com/history/airport/EGLL/2016/10/%s/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1"%(i)

In [3]:
#for i in range (1,10):
nrg = pd.read_csv("https://www.wunderground.com/history/airport/EGLL/2014/1/10/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1")
    
nrg

,TimeGMT,TemperatureF,Dew PointF,Humidity,Sea Level PressureIn,VisibilityMPH,Wind Direction,Wind SpeedMPH,Gust SpeedMPH,PrecipitationIn,Events,Conditions,WindDirDegrees,DateUTC<br />
0,12:20 AM,41.0,35.6,81,29.95,6.2,SW,8.1,-,NaN,NaN,Partly Cloudy,230,2014-01-10 00:20:00<br />
1,12:50 AM,41.0,37.4,87,29.95,6.2,WSW,9.2,-,NaN,NaN,Partly Cloudy,240,2014-01-10 00:50:00<br />
2,1:00 AM,39.0,36.0,85,29.95,16.0,WSW,9.2,NaN,NaN,NaN,NaN,240,2014-01-10 01:00:00<br />
3,1:20 AM,39.2,35.6,87,29.95,6.2,WSW,9.2,-,NaN,NaN,Unknown,240,2014-01-10 01:20:00<br />
4,1:50 AM,39.2,35.6,87,29.95,6.2,SW,5.8,-,NaN,NaN,Unknown,220,2014-01-10 01:50:00<br />
5,2:00 AM,38.0,36.0,88,29.95,19.0,SW,6.9,NaN,NaN,NaN,NaN,220,2014-01-10 02:00:00<br />
6,2:20 AM,37.4,35.6,93,29.95,6.2,SSW,6.9,-,NaN,NaN,Unknown,210,2014-01-10 02:20:00<br />
7,2:50 AM,37.4,35.6,93,29.95,-9999.0,SSW,4.6,-,NaN,NaN,Clear,210,2014-01-10 02:50:00<br />
8,3:00 AM,38.0,36.0,87,29.96,25.0,SSW,6.9,NaN,NaN,NaN,NaN,210,2014-01-10 03:00:00<br />
9,3:20 AM,37.4,35.6,93,29.95,-9999.0,SSW,4.6,-,NaN,NaN,Clear,210,2014-01-10 03:20:00<br />
10,3:50 AM,37.4,35.6,93,29.95,-9999.0,SSW,4.6,-,NaN,NaN,Clear,210,2014-01-10 03:50:00<br />
11,4:00 AM,37.0,35.0,91,29.96,19.0,SSW,5.8,NaN,NaN,NaN,NaN,210,2014-01-10 04:00:00<br />
12,4:20 AM,37.4,35.6,93,29.95,-9999.0,SSW,4.6,-,NaN,NaN,Clear,210,2014-01-10 04:20:00<br />
13,4:50 AM,37.4,35.6,93,29.95,6.2,SW,4.6,-,NaN,NaN,Unknown,220,2014-01-10 04:50:00<br />
14,5:00 AM,37.0,35.0,89,29.96,22.0,SSW,5.8,NaN,NaN,NaN,NaN,210,2014-01-10 05:00:00<br />
15,5:20 AM,37.4,35.6,93,29.95,-9999.0,SSW,5.8,-,NaN,NaN,Clear,210,2014-01-10 05:20:00<br />
16,5:50 AM,37.4,35.6,93,29.95,-9999.0,SW,5.8,-,NaN,NaN,Clear,230,2014-01-10 05:50:00<br />
17,6:00 AM,37.0,35.0,91,29.96,19.0,SW,6.9,NaN,NaN,NaN,NaN,220,2014-01-10 06:00:00<br />
18,6:20 AM,37.4,35.6,93,29.95,-9999.0,SW,6.9,-,NaN,NaN,Clear,220,2014-01-10 06:20:00<br />
19,6:50 AM,37.4,35.6,93,29.95,-9999.0,SW,5.8,-,NaN,NaN,Clear,230,2014-01-10 06:50:00<br />
20,7:00 AM,38.0,35.0,87,29.97,28.0,SW,6.9,NaN,NaN,NaN,NaN,220,2014-01-10 07:00:00<br />
21,7:20 AM,37.4,35.6,93,29.98,-9999.0,SW,6.9,-,NaN,NaN,Clear,230,2014-01-10 07:20:00<br />
22,7:50 AM,37.4,35.6,93,29.98,-9999.0,SW,6.9,-,NaN,NaN,Clear,220,2014-01-10 07:50:00<br />
23,8:00 AM,38.0,35.0,84,29.99,19.0,SW,5.8,NaN,NaN,NaN,NaN,220,2014-01-10 08:00:00<br />
24,8:20 AM,37.4,35.6,93,29.98,-9999.0,SW,4.6,-,NaN,NaN,Clear,220,2014-01-10 08:20:00<br />
25,8:50 AM,39.2,37.4,93,29.98,6.2,SW,6.9,-,NaN,NaN,Partly Cloudy,220,2014-01-10 08:50:00<br />
26,9:00 AM,40.0,37.0,84,29.99,19.0,SSW,6.9,NaN,NaN,NaN,NaN,210,2014-01-10 09:00:00<br />
27,9:20 AM,41.0,37.4,87,29.98,-9999.0,SSW,8.1,-,NaN,NaN,Clear,210,2014-01-10 09:20:00<br />
28,9:50 AM,42.8,39.2,87,29.98,-9999.0,SW,8.1,19.6,NaN,NaN,Clear,220,2014-01-10 09:50:00<br />
29,10:00 AM,43.0,38.0,78,29.99,17.0,SW,8.1,NaN,NaN,NaN,NaN,220,2014-01-10 10:00:00<br />
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,2:00 PM,50.0,42.0,66,29.94,25.0,SSW,11.5,NaN,NaN,NaN,Scattered Clouds,210,2014-01-10 14:00:00<br />
42,2:20 PM,50.0,42.8,76,29.92,6.2,SW,15.0,-,NaN,NaN,Mostly Cloudy,230,2014-01-10 14:20:00<br />
43,2:50 PM,50.0,42.8,76,29.92,6.2,SW,12.7,-,NaN,NaN,Mostly Cloudy,230,2014-01-10 14:50:00<br />
44,3:00 PM,50.0,43.0,68,29.94,19.0,SW,11.5,NaN,NaN,Rain,Light Rain Showers,220,2014-01-10 15:00:00<br />
45,3:20 PM,50.0,42.8,76,29.92,6.2,SW,6.9,-,NaN,NaN,Mostly Cloudy,220,2014-01-10 15:20:00<br />
46,3:50 PM,48.2,42.8,82,29.92,6.2,SSW,9.2,-,NaN,NaN,Mostly Cloudy,210,2014-01-10 15:50:00<br />
47,4:00 PM,49.0,44.0,76,29.94,16.0,SSW,9.2,NaN,NaN,Rain,Rain,200,2014-01-10 16:00:00<br />
48,4:20 PM,48.2,44.6,87,29.92,6.2,SSW,10.4,-,NaN,NaN,Mostly Cloudy,210,2014-01-10 16:20:00<br />
49,4:50 PM,48.2,42.8,82,29.92,6.2,SSW,9.2,-,NaN,NaN,Partly Cloudy,210,2014-01-10 16:50:00<br />
50,5:00 PM,48.0,43.0,77,29.94,22.0,SSW,10.4,NaN,NaN,Rain,Rain,200,2014-01-10 17:00:00<br />
51,5:20 PM,48.2,42.8,82,29.92,-9999.0,SSW,9.2,-,NaN,NaN,Clear,200,2014-01-10 17:20:00<br />
52,5:50 PM,46.4,42.8,87,29.92,-9999.0,SSW,10.4,-,NaN,NaN,Clear,210,2014-01-10 17:50:00<br />
53,6:00 PM,47.0,42.0,79,29.94,19.0,South,9.2,NaN,NaN,NaN,Mostly Cloudy,190,2014-01-10 18:00:00<br />
54,6:20 PM,46.4,42.8,87,29.92,6.2,SSW,9.2,-,NaN,NaN,Scattered Clouds,210,2014-01-10 18:20:00<br />
55,6:50 PM,46.4,42.8,87,29.92,6.2,SSW,10.4,-,NaN,NaN,Scattered Clouds,210,2014-01-10 18:50:00<br />
56,7:00 PM,47.0,42.0,79,29.94,19.0,SSW,12.7,NaN,NaN,NaN,Mostly Cloudy,210,2014-01-10 19:00:00<br />
57,7:20 PM,46.4,42.8,87,29.92,6.2,SSW,10.4,-,NaN,NaN,Partly Cloudy,200,2014-01-10 19:20:00<br />
58,7:50 PM,46.4,42.8,87,29.92,-9999.0,SSW,9.2,-,NaN,NaN,Clear,210,2014-01-10 19:50:00<br />
59,8:00 PM,47.0,43.0,80,29.94,18.0,SSW,10.4,NaN,NaN,Rain,Rain,200,2014-01-10 20:00:00<br />
60,8:20 PM,46.4,42.8,87,29.92,-9999.0,SSW,9.2,-,NaN,NaN,Clear,200,2014-01-10 20:20:00<br />
61,8:50 PM,46.4,42.8,87,29.92,6.2,SSW,8.1,-,NaN,NaN,Partly Cloudy,200,2014-01-10 20:50:00<br />
62,9:00 PM,47.0,44.0,83,29.94,13.0,SSW,8.1,NaN,NaN,Rain,Light Rain Showers,200,2014-01-10 21:00:00<br />
63,9:20 PM,46.4,44.6,93,29.92,6.2,SSW,9.2,-,NaN,NaN,Partly Cloudy,200,2014-01-10 21:20:00<br />
64,9:50 PM,46.4,44.6,93,29.92,6.2,SSW,9.2,-,NaN,NaN,Partly Cloudy,210,2014-01-10 21:50:00<br />
65,10:00 PM,47.0,44.0,85,29.93,11.0,SSW,10.4,NaN,NaN,Rain,Light Rain Showers,200,2014-01-10 22:00:00<br />
66,10:20 PM,46.4,44.6,93,29.92,6.2,SSW,11.5,-,NaN,Rain,Light Rain,200,2014-01-10 22:20:00<br />
67,10:50 PM,46.4,44.6,93,29.92,6.2,SSW,10.4,-,NaN,Rain,Light Rain,210,2014-01-10 22:50:00<br />
68,11:00 PM,47.0,44.0,83,29.94,16.0,SSW,12.7,NaN,NaN,Rain,Rain,210,2014-01-10 23:00:00<br />
69,11:20 PM,46.4,42.8,87,29.92,6.2,SSW,9.2,-,NaN,NaN,Scattered Clouds,210,2014-01-10 23:20:00<br />
70,11:50 PM,46.4,42.8,87,29.92,6.2,SSW,8.1,-,NaN,Rain,Light Rain,210,2014-01-10 23:50:00<br />

In [4]:
data1 = pd.DataFrame()
# getting Dec 2013 data
for i in range (1,32):
    nrg = pd.read_csv('https://www.wunderground.com/history/airport/EGLL/2013/12/' + str(i) + '/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1')
    nrg['Date'] = '2013/12/' + str(i)
    data1 = pd.concat([data1, nrg])

    
data1.describe()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

,TemperatureF,Dew PointF,Humidity,Sea Level PressureIn,VisibilityMPH,PrecipitationIn,WindDirDegrees
count,1962.000000,1962.000000,1962.000000,1961.000000,1962.000000,0.0,1961.000000
mean,44.820897,40.748420,84.735984,29.911866,-2103.479052,NaN,194.487506
std,5.256061,5.192761,10.584336,0.816976,4084.195575,NaN,79.221692
min,30.200000,29.000000,40.000000,0.000000,-9999.000000,NaN,0.000000
25%,41.000000,37.000000,76.000000,NaN,1.600000,NaN,NaN
50%,44.600000,41.000000,87.000000,NaN,6.200000,NaN,NaN
75%,49.000000,44.600000,93.000000,NaN,6.200000,NaN,NaN
max,55.400000,53.600000,100.000000,30.580000,40.000000,NaN,360.000000

In [5]:
# getting Jan 2014 data
for i in range (1,32):
    nrg = pd.read_csv('https://www.wunderground.com/history/airport/EGLL/2014/1/' + str(i) + '/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1')
    nrg['Date'] = '2014/1/' + str(i)
    data1 = pd.concat([data1, nrg])
# getting Feb 2014 data
for i in range (1,29):
    nrg = pd.read_csv('https://www.wunderground.com/history/airport/EGLL/2014/2/' + str(i) + '/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1')
    nrg['Date'] = '2014/2/' + str(i)
    data1 = pd.concat([data1, nrg])
# getting Mar 2014 data
for i in range (1,32):
    nrg = pd.read_csv('https://www.wunderground.com/history/airport/EGLL/2014/3/' + str(i) + '/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1')
    nrg['Date'] = '2014/3/' + str(i)
    data1 = pd.concat([data1, nrg])

In [6]:
data1.describe()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

,Dew PointF,Humidity,PrecipitationIn,Sea Level PressureIn,TemperatureF,VisibilityMPH,WindDirDegrees
count,8405.000000,8405.000000,0.0,8399.000000,8405.000000,8407.000000,8403.000000
mean,39.792290,78.797620,NaN,29.743010,45.745485,-1766.038694,188.107819
std,4.536167,13.915999,NaN,0.526814,5.681234,3822.906729,77.498466
min,26.000000,18.000000,NaN,0.000000,28.400000,-9999.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,3.700000,NaN
50%,NaN,NaN,NaN,NaN,NaN,6.200000,NaN
75%,NaN,NaN,NaN,NaN,NaN,7.000000,NaN
max,53.600000,100.000000,NaN,30.580000,66.200000,40.000000,360.000000

In [7]:
data1.to_csv('London_weather_winter2013-14.csv')

In [8]:
iop = pd.read_csv('London_weather_winter2013-14.csv')
iop

,Unnamed: 0,Conditions,Date,DateUTC<br />,Dew PointF,Events,Gust SpeedMPH,Humidity,PrecipitationIn,Sea Level PressureIn,TemperatureF,TimeBST,TimeGMT,VisibilityMPH,Wind Direction,Wind SpeedMPH,WindDirDegrees
0,0,Scattered Clouds,2013/12/1,2013-12-01 00:00:00<br />,31.0,NaN,NaN,82.0,NaN,30.48,35.0,NaN,12:00 AM,11.0,West,4.6,260.0
1,1,Clear,2013/12/1,2013-12-01 00:20:00<br />,32.0,NaN,-,93.0,NaN,30.48,33.8,NaN,12:20 AM,-9999.0,West,4.6,260.0
2,2,Clear,2013/12/1,2013-12-01 00:50:00<br />,33.8,NaN,-,100.0,NaN,30.48,33.8,NaN,12:50 AM,-9999.0,WSW,4.6,250.0
3,3,Unknown,2013/12/1,2013-12-01 01:20:00<br />,33.8,NaN,-,100.0,NaN,30.45,33.8,NaN,1:20 AM,6.2,WSW,4.6,250.0
4,4,Mostly Cloudy,2013/12/1,2013-12-01 01:50:00<br />,33.8,NaN,-,93.0,NaN,30.48,35.6,NaN,1:50 AM,6.2,West,3.5,270.0
5,5,Mostly Cloudy,2013/12/1,2013-12-01 02:20:00<br />,33.8,NaN,-,93.0,NaN,30.48,35.6,NaN,2:20 AM,6.2,West,4.6,270.0
6,6,Mostly Cloudy,2013/12/1,2013-12-01 02:50:00<br />,33.8,NaN,-,93.0,NaN,30.48,35.6,NaN,2:50 AM,6.2,West,4.6,280.0
7,7,Mostly Cloudy,2013/12/1,2013-12-01 03:00:00<br />,33.0,NaN,NaN,80.0,NaN,30.48,37.0,NaN,3:00 AM,10.0,West,4.6,270.0
8,8,Mostly Cloudy,2013/12/1,2013-12-01 03:20:00<br />,35.6,NaN,-,100.0,NaN,30.45,35.6,NaN,3:20 AM,6.2,West,4.6,270.0
9,9,Mostly Cloudy,2013/12/1,2013-12-01 03:50:00<br />,35.6,NaN,-,93.0,NaN,30.45,37.4,NaN,3:50 AM,6.2,West,5.8,280.0
10,10,Mostly Cloudy,2013/12/1,2013-12-01 04:20:00<br />,35.6,NaN,-,93.0,NaN,30.45,37.4,NaN,4:20 AM,6.2,West,8.1,270.0
11,11,Mostly Cloudy,2013/12/1,2013-12-01 04:50:00<br />,35.6,NaN,-,87.0,NaN,30.45,39.2,NaN,4:50 AM,6.2,WNW,4.6,290.0
12,12,Mostly Cloudy,2013/12/1,2013-12-01 05:20:00<br />,37.4,NaN,-,93.0,NaN,30.45,39.2,NaN,5:20 AM,6.2,West,4.6,270.0
13,13,Mostly Cloudy,2013/12/1,2013-12-01 05:50:00<br />,37.4,NaN,-,93.0,NaN,30.45,39.2,NaN,5:50 AM,6.2,West,3.5,280.0
14,14,NaN,2013/12/1,2013-12-01 06:00:00<br />,35.0,NaN,NaN,78.0,NaN,30.47,40.0,NaN,6:00 AM,12.0,WNW,2.3,300.0
15,15,Mostly Cloudy,2013/12/1,2013-12-01 06:20:00<br />,37.4,NaN,-,93.0,NaN,30.48,39.2,NaN,6:20 AM,6.2,Variable,3.5,0.0
16,16,Mostly Cloudy,2013/12/1,2013-12-01 06:50:00<br />,37.4,NaN,-,87.0,NaN,30.48,41.0,NaN,6:50 AM,6.2,West,3.5,280.0
17,17,Mostly Cloudy,2013/12/1,2013-12-01 07:20:00<br />,37.4,NaN,-,87.0,NaN,30.48,41.0,NaN,7:20 AM,6.2,WNW,5.8,290.0
18,18,Mostly Cloudy,2013/12/1,2013-12-01 07:50:00<br />,39.2,NaN,-,93.0,NaN,30.48,41.0,NaN,7:50 AM,6.2,NW,4.6,310.0
19,19,Mostly Cloudy,2013/12/1,2013-12-01 08:20:00<br />,39.2,NaN,-,93.0,NaN,30.48,41.0,NaN,8:20 AM,6.2,NW,4.6,310.0
20,20,Mostly Cloudy,2013/12/1,2013-12-01 08:50:00<br />,39.2,NaN,-,87.0,NaN,30.48,42.8,NaN,8:50 AM,6.2,WNW,4.6,290.0
21,21,Overcast,2013/12/1,2013-12-01 09:00:00<br />,38.0,NaN,NaN,79.0,NaN,30.50,42.0,NaN,9:00 AM,16.0,WNW,5.8,290.0
22,22,Mostly Cloudy,2013/12/1,2013-12-01 09:20:00<br />,39.2,NaN,-,87.0,NaN,30.51,42.8,NaN,9:20 AM,6.2,WNW,4.6,290.0
23,23,Mostly Cloudy,2013/12/1,2013-12-01 09:50:00<br />,39.2,NaN,-,87.0,NaN,30.51,42.8,NaN,9:50 AM,6.2,WNW,4.6,290.0
24,24,Mostly Cloudy,2013/12/1,2013-12-01 10:20:00<br />,41.0,NaN,-,87.0,NaN,30.51,44.6,NaN,10:20 AM,6.2,WNW,4.6,290.0
25,25,Mostly Cloudy,2013/12/1,2013-12-01 10:50:00<br />,41.0,NaN,-,87.0,NaN,30.51,44.6,NaN,10:50 AM,6.2,WNW,4.6,290.0
26,26,Mostly Cloudy,2013/12/1,2013-12-01 11:20:00<br />,42.8,NaN,-,87.0,NaN,30.51,46.4,NaN,11:20 AM,6.2,WNW,5.8,300.0
27,27,Mostly Cloudy,2013/12/1,2013-12-01 11:50:00<br />,42.8,NaN,-,87.0,NaN,30.51,46.4,NaN,11:50 AM,6.2,WNW,4.6,300.0
28,28,Overcast,2013/12/1,2013-12-01 12:00:00<br />,41.0,NaN,NaN,72.0,NaN,30.51,47.0,NaN,12:00 PM,19.0,NW,5.8,310.0
29,29,Mostly Cloudy,2013/12/1,2013-12-01 12:20:00<br />,42.8,NaN,-,82.0,NaN,30.51,48.2,NaN,12:20 PM,6.2,WNW,5.8,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8377,42,Mostly Cloudy,2014/3/31,2014-03-31 13:00:00<br />,47.0,NaN,NaN,49.0,NaN,29.92,61.0,2:00 PM,NaN,19.0,South,11.5,170.0
8378,43,Clear,2014/3/31,2014-03-31 13:20:00<br />,46.4,NaN,-,59.0,NaN,29.89,60.8,2:20 PM,NaN,-9999.0,South,9.2,180.0
8379,44,Clear,2014/3/31,2014-03-31 13:50:00<br />,46.4,NaN,-,59.0,NaN,29.89,60.8,2:50 PM,NaN,-9999.0,South,8.1,190.0
8380,45,Mostly Cloudy,2014/3/31,2014-03-31 14:00:00<br />,46.0,NaN,NaN,48.0,NaN,29.90,60.0,3:00 PM,NaN,25.0,South,6.9,180.0
8381,46,Clear,2014/3/31,2014-03-31 14:20:00<br />,46.4,NaN,-,59.0,NaN,29.89,60.8,3:20 PM,NaN,-9999.0,South,5.8,170.0
8382,47,Clear,2014/3/31,2014-03-31 14:50:00<br />,46.4,NaN,-,55.0,NaN,29.89,62.6,3:50 PM,NaN,-9999.0,SE,8.1,140.0
8383,48,Mostly Cloudy,2014/3/31,2014-03-31 15:00:00<br />,46.0,NaN,NaN,44.0,NaN,29.89,62.0,4:00 PM,NaN,19.0,SSE,6.9,150.0
8384,49,Clear,2014/3/31,2014-03-31 15:20:00<br />,44.6,NaN,-,52.0,NaN,29.89,62.6,4:20 PM,NaN,-9999.0,SE,9.2,140.0
8385,50,Clear,2014/3/31,2014-03-31 15:50:00<br />,44.6,NaN,-,52.0,NaN,29.86,62.6,4:50 PM,NaN,-9999.0,SSE,10.4,150.0
8386,51,Mostly Cloudy,2014/3/31,2014-03-31 16:00:00<br />,45.0,NaN,NaN,42.0,NaN,29.88,62.0,5:00 PM,NaN,19.0,SE,10.4,140.0
8387,52,Clear,2014/3/31,2014-03-31 16:20:00<br />,44.6,NaN,-,55.0,NaN,29.86,60.8,5:20 PM,NaN,-9999.0,SSE,9.2,150.0
8388,53,Clear,2014/3/31,2014-03-31 16:50:00<br />,46.4,NaN,-,59.0,NaN,29.86,60.8,5:50 PM,NaN,-9999.0,SSE,8.1,150.0
8389,54,Mostly Cloudy,2014/3/31,2014-03-31 17:00:00<br />,46.0,NaN,NaN,49.0,NaN,29.87,60.0,6:00 PM,NaN,22.0,SE,8.1,140.0
8390,55,Clear,2014/3/31,2014-03-31 17:20:00<br />,44.6,NaN,-,55.0,NaN,29.86,60.8,6:20 PM,NaN,-9999.0,SSE,8.1,150.0
8391,56,Clear,2014/3/31,2014-03-31 17:50:00<br />,44.6,NaN,-,55.0,NaN,29.86,60.8,6:50 PM,NaN,-9999.0,South,6.9,170.0
8392,57,Overcast,2014/3/31,2014-03-31 18:00:00<br />,44.0,NaN,NaN,45.0,NaN,29.88,60.0,7:00 PM,NaN,28.0,South,6.9,170.0
8393,58,Clear,2014/3/31,2014-03-31 18:20:00<br />,44.6,NaN,-,59.0,NaN,29.86,59.0,7:20 PM,NaN,-9999.0,Variable,5.8,0.0
8394,59,Clear,2014/3/31,2014-03-31 18:50:00<br />,44.6,NaN,17.3,59.0,NaN,29.89,59.0,7:50 PM,NaN,-9999.0,Variable,5.8,0.0
8395,60,Mostly Cloudy,2014/3/31,2014-03-31 19:00:00<br />,44.0,NaN,NaN,50.0,NaN,29.88,58.0,8:00 PM,NaN,22.0,South,4.6,170.0
8396,61,Clear,2014/3/31,2014-03-31 19:20:00<br />,44.6,NaN,-,63.0,NaN,29.89,57.2,8:20 PM,NaN,-9999.0,SSE,4.6,160.0
8397,62,Clear,2014/3/31,2014-03-31 19:50:00<br />,46.4,NaN,-,67.0,NaN,29.89,57.2,8:50 PM,NaN,-9999.0,SSE,5.8,150.0
8398,63,Mostly Cloudy,2014/3/31,2014-03-31 20:00:00<br />,45.0,NaN,NaN,51.0,NaN,29.88,58.0,9:00 PM,NaN,17.0,SSE,5.8,160.0
8399,64,Clear,2014/3/31,2014-03-31 20:20:00<br />,46.4,NaN,-,72.0,NaN,29.89,55.4,9:20 PM,NaN,-9999.0,SSE,5.8,150.0
8400,65,Clear,2014/3/31,2014-03-31 20:50:00<br />,46.4,NaN,-,67.0,NaN,29.89,57.2,9:50 PM,NaN,-9999.0,SSE,4.6,150.0
8401,66,Scattered Clouds,2014/3/31,2014-03-31 21:00:00<br />,45.0,NaN,NaN,55.0,NaN,29.89,57.0,10:00 PM,NaN,15.0,SSE,6.9,160.0
8402,67,Light Rain,2014/3/31,2014-03-31 21:20:00<br />,46.4,Rain,-,72.0,NaN,29.89,55.4,10:20 PM,NaN,6.2,SSE,6.9,150.0
8403,68,Clear,2014/3/31,2014-03-31 21:50:00<br />,46.4,NaN,-,72.0,NaN,29.89,55.4,10:50 PM,NaN,-9999.0,SE,5.8,140.0
8404,69,Rain,2014/3/31,2014-03-31 22:00:00<br />,45.0,Rain,NaN,54.0,NaN,29.88,57.0,11:00 PM,NaN,14.0,SSE,5.8,160.0
8405,70,Clear,2014/3/31,2014-03-31 22:20:00<br />,46.4,NaN,-,72.0,NaN,29.86,55.4,11:20 PM,NaN,-9999.0,ESE,3.5,110.0
8406,71,Clear,2014/3/31,2014-03-31 22:50:00<br />,46.4,NaN,-,77.0,NaN,29.86,53.6,11:50 PM,NaN,-9999.0,East,2.3,90.0

In [2]:
data2 = pd.DataFrame()
# getting Dec 2011 data
for i in range (1,32):
    nrg = pd.read_csv('https://www.wunderground.com/history/airport/EGLL/2011/12/' + str(i) + '/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1')
    nrg['Date'] = '2011/12/' + str(i)
    data2 = pd.concat([data2, nrg])

    
data2.describe()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

,TemperatureF,Dew PointF,Humidity,Sea Level PressureIn,VisibilityMPH,PrecipitationIn,WindDirDegrees
count,1721.000000,1721.000000,1721.000000,1721.000000,1721.000000,0.0,1720.000000
mean,44.705171,38.881232,79.649622,29.882028,-2922.595874,NaN,244.819767
std,5.838885,5.967039,9.287330,0.341680,4555.216026,NaN,46.462681
min,28.400000,26.600000,36.000000,28.940000,-9999.000000,NaN,0.000000
25%,41.000000,33.800000,74.000000,29.680000,-9999.000000,NaN,NaN
50%,44.600000,37.400000,81.000000,29.860000,6.200000,NaN,NaN
75%,50.000000,43.000000,87.000000,30.090000,6.200000,NaN,NaN
max,55.400000,51.800000,100.000000,30.570000,31.000000,NaN,360.000000

In [3]:
# getting Jan 2012 data
for i in range (1,32):
    nrg = pd.read_csv('https://www.wunderground.com/history/airport/EGLL/2012/1/' + str(i) + '/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1')
    nrg['Date'] = '2012/1/' + str(i)
    data2 = pd.concat([data2, nrg])
# getting Feb 2012 data
for i in range (1,29):
    nrg = pd.read_csv('https://www.wunderground.com/history/airport/EGLL/2012/2/' + str(i) + '/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1')
    nrg['Date'] = '2012/2/' + str(i)
    data2 = pd.concat([data2, nrg])
# getting Mar 2012 data
for i in range (1,32):
    nrg = pd.read_csv('https://www.wunderground.com/history/airport/EGLL/2012/3/' + str(i) + '/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1')
    nrg['Date'] = '2012/3/' + str(i)
    data2 = pd.concat([data2, nrg])

In [4]:
data2.describe()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

,Dew PointF,Humidity,PrecipitationIn,Sea Level PressureIn,TemperatureF,VisibilityMPH,WindDirDegrees
count,6714.000000,6714.000000,0.0,6714.000000,6714.000000,6714.000000,6710.000000
mean,37.284004,76.349121,NaN,30.194830,44.417516,-2347.925633,210.029806
std,7.240408,13.256073,NaN,0.334847,7.791702,4244.783333,99.777210
min,10.400000,12.000000,NaN,28.940000,19.400000,-9999.000000,0.000000
25%,33.800000,70.000000,NaN,30.010000,39.200000,1.200000,NaN
50%,37.400000,79.000000,NaN,30.270000,44.600000,6.200000,NaN
75%,42.800000,87.000000,NaN,30.450000,50.000000,6.200000,NaN
max,51.800000,100.000000,NaN,30.820000,71.000000,31.000000,360.000000

In [7]:
iopa = pd.read_csv('London_weather_winter2011-12.csv')
iopa.columns

Index(['Unnamed: 0', 'Conditions', 'Date', 'DateUTC<br />', 'Dew PointF',
       'Events', 'Gust SpeedMPH', 'Humidity', 'PrecipitationIn',
       'Sea Level PressureIn', 'TemperatureF', 'TimeBST', 'TimeGMT',
       'VisibilityMPH', 'Wind Direction', 'Wind SpeedMPH', 'WindDirDegrees'],
      dtype='object')

In [8]:
weather_clean_11 = iopa[['DateUTC<br />', 'Dew PointF', 'TemperatureF', 'Wind SpeedMPH']]
weather_clean_11.columns = [['Datetime', 'Dew_Point_F', 'Temperature_F', 'Wind_Speed_MPH']]

In [10]:
weather_clean_11

                       Datetime  Dew_Point_F  Temperature_F Wind_Speed_MPH
0     2011-12-01 00:20:00<br />         46.4           50.0           16.1
1     2011-12-01 00:50:00<br />         48.2           50.0           18.4
2     2011-12-01 01:20:00<br />         48.2           51.8           15.0
3     2011-12-01 01:50:00<br />         50.0           51.8           17.3
4     2011-12-01 02:20:00<br />         48.2           51.8           18.4
5     2011-12-01 02:50:00<br />         46.0           52.0           17.3
6     2011-12-01 02:50:00<br />         46.4           51.8           17.3
7     2011-12-01 03:20:00<br />         46.4           51.8           13.8
8     2011-12-01 03:50:00<br />         46.4           51.8           13.8
9     2011-12-01 04:20:00<br />         46.4           51.8           11.5
10    2011-12-01 04:50:00<br />         46.4           51.8           11.5
11    2011-12-01 05:20:00<br />         46.4           51.8           11.5
12    2011-12-01 05:50:00<br />         47.0           53.0           12.7
13    2011-12-01 05:50:00<br />         46.4           51.8           11.5
14    2011-12-01 06:20:00<br />         46.4           53.6           11.5
15    2011-12-01 06:50:00<br />         48.2           53.6           10.4
16    2011-12-01 07:20:00<br />         48.2           51.8            9.2
17    2011-12-01 07:50:00<br />         48.2           51.8           10.4
18    2011-12-01 08:20:00<br />         48.2           51.8           10.4
19    2011-12-01 08:50:00<br />         47.0           51.0           11.5
20    2011-12-01 08:50:00<br />         48.2           51.8           11.5
21    2011-12-01 09:20:00<br />         46.4           50.0            9.2
22    2011-12-01 09:50:00<br />         46.4           50.0           11.5
23    2011-12-01 10:20:00<br />         44.6           51.8           11.5
24    2011-12-01 10:50:00<br />         39.2           51.8           11.5
25    2011-12-01 11:20:00<br />         39.2           50.0           13.8
26    2011-12-01 11:50:00<br />         39.0           51.0            8.1
27    2011-12-01 11:50:00<br />         39.2           50.0           10.4
28    2011-12-01 12:20:00<br />         39.2           50.0            6.9
29    2011-12-01 12:50:00<br />         41.0           51.8            5.8
...                         ...          ...            ...            ...
6684  2012-03-31 10:20:00<br />         41.0           50.0            9.2
6685  2012-03-31 10:50:00<br />         41.0           50.0           10.4
6686  2012-03-31 11:20:00<br />         41.0           50.0            8.1
6687  2012-03-31 11:50:00<br />         40.0           52.0           10.4
6688  2012-03-31 11:50:00<br />         41.0           51.8            8.1
6689  2012-03-31 12:20:00<br />         41.0           51.8            8.1
6690  2012-03-31 12:50:00<br />         39.2           51.8           10.4
6691  2012-03-31 13:20:00<br />         39.2           51.8           10.4
6692  2012-03-31 13:50:00<br />         37.4           51.8           10.4
6693  2012-03-31 14:20:00<br />         35.6           51.8           11.5
6694  2012-03-31 14:50:00<br />         37.0           51.0           10.4
6695  2012-03-31 14:50:00<br />         35.6           50.0            9.2
6696  2012-03-31 15:20:00<br />         35.6           51.8           10.4
6697  2012-03-31 15:50:00<br />         35.6           50.0            8.1
6698  2012-03-31 16:20:00<br />         35.6           50.0            9.2
6699  2012-03-31 16:50:00<br />         33.8           50.0           10.4
6700  2012-03-31 17:20:00<br />         33.8           48.2            8.1
6701  2012-03-31 17:50:00<br />         33.0           48.0           11.5
6702  2012-03-31 17:50:00<br />         32.0           48.2            6.9
6703  2012-03-31 18:20:00<br />         32.0           48.2           11.5
6704  2012-03-31 18:50:00<br />         32.0           48.2            9.2
6705  2012-03-31 19:20:00<br />         30.2           46.4           11.5
6706  2012-03-31 19:50:00<br />         28.4           46.4            9.2
6707  2012-03-31 20:20:00<br />         30.2           44.6            5.8
6708  2012-03-31 20:50:00<br />         30.0           44.0            9.2
6709  2012-03-31 20:50:00<br />         28.4           44.6            8.1
6710  2012-03-31 21:20:00<br />         30.2           42.8            5.8
6711  2012-03-31 21:50:00<br />         32.0           42.8            5.8
6712  2012-03-31 22:20:00<br />         32.0           41.0            4.6
6713  2012-03-31 22:50:00<br />         32.0           41.0            4.6

[6714 rows x 4 columns]

In [17]:
weather_clean_11_r = pd.DataFrame()
for i in range(len(weather_clean_11)):
    if weather_clean_11['Datetime'][i][14:] == '20:00<br />':
        weather_clean_11_r = weather_clean_11_r.append(weather_clean_11.iloc[(i)])
weather_clean_11_r.reset_index(inplace=True)

In [18]:
weather_clean_11_r

,index,Datetime,Dew_Point_F,Temperature_F,Wind_Speed_MPH
0,0,2011-12-01 00:20:00<br />,46.4,50.0,16.1
1,2,2011-12-01 01:20:00<br />,48.2,51.8,15.0
2,4,2011-12-01 02:20:00<br />,48.2,51.8,18.4
3,7,2011-12-01 03:20:00<br />,46.4,51.8,13.8
4,9,2011-12-01 04:20:00<br />,46.4,51.8,11.5
5,11,2011-12-01 05:20:00<br />,46.4,51.8,11.5
6,14,2011-12-01 06:20:00<br />,46.4,53.6,11.5
7,16,2011-12-01 07:20:00<br />,48.2,51.8,9.2
8,18,2011-12-01 08:20:00<br />,48.2,51.8,10.4
9,21,2011-12-01 09:20:00<br />,46.4,50.0,9.2
10,23,2011-12-01 10:20:00<br />,44.6,51.8,11.5
11,25,2011-12-01 11:20:00<br />,39.2,50.0,13.8
12,28,2011-12-01 12:20:00<br />,39.2,50.0,6.9
13,30,2011-12-01 13:20:00<br />,41.0,50.0,6.9
14,32,2011-12-01 14:20:00<br />,41.0,50.0,5.8
15,35,2011-12-01 15:20:00<br />,39.2,50.0,3.5
16,37,2011-12-01 16:20:00<br />,37.4,50.0,2.3
17,39,2011-12-01 17:20:00<br />,41.0,46.4,Calm
18,42,2011-12-01 18:20:00<br />,42.8,46.4,3.5
19,44,2011-12-01 19:20:00<br />,42.8,44.6,2.3
20,46,2011-12-01 20:20:00<br />,39.2,46.4,Calm
21,49,2011-12-01 21:20:00<br />,39.2,46.4,2.3
22,51,2011-12-01 22:20:00<br />,41.0,44.6,4.6
23,53,2011-12-01 23:20:00<br />,41.0,44.6,4.6
24,56,2011-12-02 00:20:00<br />,39.2,41.0,8.1
25,58,2011-12-02 01:20:00<br />,39.2,41.0,5.8
26,60,2011-12-02 02:20:00<br />,37.4,39.2,5.8
27,62,2011-12-02 03:20:00<br />,35.6,37.4,3.5
28,64,2011-12-02 04:20:00<br />,35.6,35.6,6.9
29,66,2011-12-02 05:20:00<br />,35.6,35.6,6.9
...,...,...,...,...,...
2858,6644,2012-03-30 17:20:00<br />,44.6,57.2,9.2
2859,6647,2012-03-30 18:20:00<br />,44.6,53.6,6.9
2860,6649,2012-03-30 19:20:00<br />,44.6,53.6,3.5
2861,6651,2012-03-30 20:20:00<br />,44.6,53.6,6.9
2862,6654,2012-03-30 21:20:00<br />,44.6,51.8,6.9
2863,6656,2012-03-30 22:20:00<br />,42.8,50.0,5.8
2864,6658,2012-03-30 23:20:00<br />,41.0,48.2,4.6
2865,6661,2012-03-31 00:20:00<br />,41.0,46.4,6.9
2866,6663,2012-03-31 01:20:00<br />,41.0,46.4,5.8
2867,6665,2012-03-31 02:20:00<br />,41.0,46.4,8.1
2868,6668,2012-03-31 03:20:00<br />,41.0,46.4,6.9
2869,6670,2012-03-31 04:20:00<br />,39.2,44.6,5.8
2870,6672,2012-03-31 05:20:00<br />,41.0,46.4,4.6
2871,6675,2012-03-31 06:20:00<br />,41.0,46.4,5.8
2872,6677,2012-03-31 07:20:00<br />,42.8,48.2,5.8
2873,6679,2012-03-31 08:20:00<br />,41.0,48.2,9.2
2874,6682,2012-03-31 09:20:00<br />,41.0,50.0,10.4
2875,6684,2012-03-31 10:20:00<br />,41.0,50.0,9.2
2876,6686,2012-03-31 11:20:00<br />,41.0,50.0,8.1
2877,6689,2012-03-31 12:20:00<br />,41.0,51.8,8.1
2878,6691,2012-03-31 13:20:00<br />,39.2,51.8,10.4
2879,6693,2012-03-31 14:20:00<br />,35.6,51.8,11.5
2880,6696,2012-03-31 15:20:00<br />,35.6,51.8,10.4
2881,6698,2012-03-31 16:20:00<br />,35.6,50.0,9.2
2882,6700,2012-03-31 17:20:00<br />,33.8,48.2,8.1
2883,6703,2012-03-31 18:20:00<br />,32.0,48.2,11.5
2884,6705,2012-03-31 19:20:00<br />,30.2,46.4,11.5
2885,6707,2012-03-31 20:20:00<br />,30.2,44.6,5.8
2886,6710,2012-03-31 21:20:00<br />,30.2,42.8,5.8
2887,6712,2012-03-31 22:20:00<br />,32.0,41.0,4.6

In [19]:
weather_clean_11_r.drop('index', 1, inplace=True)
for i in range(len(weather_clean_11_r)):
    weather_clean_11_r['Datetime'][i] = weather_clean_11_r['Datetime'][i][:14] + '00:00'    
weather_clean_11_r

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

                 Datetime  Dew_Point_F  Temperature_F Wind_Speed_MPH
0     2011-12-01 00:00:00         46.4           50.0           16.1
1     2011-12-01 01:00:00         48.2           51.8           15.0
2     2011-12-01 02:00:00         48.2           51.8           18.4
3     2011-12-01 03:00:00         46.4           51.8           13.8
4     2011-12-01 04:00:00         46.4           51.8           11.5
5     2011-12-01 05:00:00         46.4           51.8           11.5
6     2011-12-01 06:00:00         46.4           53.6           11.5
7     2011-12-01 07:00:00         48.2           51.8            9.2
8     2011-12-01 08:00:00         48.2           51.8           10.4
9     2011-12-01 09:00:00         46.4           50.0            9.2
10    2011-12-01 10:00:00         44.6           51.8           11.5
11    2011-12-01 11:00:00         39.2           50.0           13.8
12    2011-12-01 12:00:00         39.2           50.0            6.9
13    2011-12-01 13:00:00         41.0           50.0            6.9
14    2011-12-01 14:00:00         41.0           50.0            5.8
15    2011-12-01 15:00:00         39.2           50.0            3.5
16    2011-12-01 16:00:00         37.4           50.0            2.3
17    2011-12-01 17:00:00         41.0           46.4           Calm
18    2011-12-01 18:00:00         42.8           46.4            3.5
19    2011-12-01 19:00:00         42.8           44.6            2.3
20    2011-12-01 20:00:00         39.2           46.4           Calm
21    2011-12-01 21:00:00         39.2           46.4            2.3
22    2011-12-01 22:00:00         41.0           44.6            4.6
23    2011-12-01 23:00:00         41.0           44.6            4.6
24    2011-12-02 00:00:00         39.2           41.0            8.1
25    2011-12-02 01:00:00         39.2           41.0            5.8
26    2011-12-02 02:00:00         37.4           39.2            5.8
27    2011-12-02 03:00:00         35.6           37.4            3.5
28    2011-12-02 04:00:00         35.6           35.6            6.9
29    2011-12-02 05:00:00         35.6           35.6            6.9
...                   ...          ...            ...            ...
2858  2012-03-30 17:00:00         44.6           57.2            9.2
2859  2012-03-30 18:00:00         44.6           53.6            6.9
2860  2012-03-30 19:00:00         44.6           53.6            3.5
2861  2012-03-30 20:00:00         44.6           53.6            6.9
2862  2012-03-30 21:00:00         44.6           51.8            6.9
2863  2012-03-30 22:00:00         42.8           50.0            5.8
2864  2012-03-30 23:00:00         41.0           48.2            4.6
2865  2012-03-31 00:00:00         41.0           46.4            6.9
2866  2012-03-31 01:00:00         41.0           46.4            5.8
2867  2012-03-31 02:00:00         41.0           46.4            8.1
2868  2012-03-31 03:00:00         41.0           46.4            6.9
2869  2012-03-31 04:00:00         39.2           44.6            5.8
2870  2012-03-31 05:00:00         41.0           46.4            4.6
2871  2012-03-31 06:00:00         41.0           46.4            5.8
2872  2012-03-31 07:00:00         42.8           48.2            5.8
2873  2012-03-31 08:00:00         41.0           48.2            9.2
2874  2012-03-31 09:00:00         41.0           50.0           10.4
2875  2012-03-31 10:00:00         41.0           50.0            9.2
2876  2012-03-31 11:00:00         41.0           50.0            8.1
2877  2012-03-31 12:00:00         41.0           51.8            8.1
2878  2012-03-31 13:00:00         39.2           51.8           10.4
2879  2012-03-31 14:00:00         35.6           51.8           11.5
2880  2012-03-31 15:00:00         35.6           51.8           10.4
2881  2012-03-31 16:00:00         35.6           50.0            9.2
2882  2012-03-31 17:00:00         33.8           48.2            8.1
2883  2012-03-31 18:00:00         32.0           48.2           11.5
2884  2012-03-31 19:00:00         30.2           46.4           11.5
2885  2012-03-31 20:00:00         30.2           44.6            5.8
2886  2012-03-31 21:00:00         30.2           42.8            5.8
2887  2012-03-31 22:00:00         32.0           41.0            4.6

[2888 rows x 4 columns]

In [20]:
weather_clean_11_r.to_csv('London_weather_hourly_winter_2011-12_(00).csv')

In [ ]:
#2014-15 50 min data

In [ ]:
iopa = pd.read_csv('London_weather_winter2014-15.csv')
iopa.columns

In [ ]:
weather_clean_1415 = iopa[['DateUTC<br />', 'Dew PointF', 'TemperatureF', 'Wind SpeedMPH']]
weather_clean_1415.columns = [['Datetime', 'Dew_Point_F', 'Temperature_F', 'Wind_Speed_MPH']]

In [ ]:
weather_clean_1415_r = pd.DataFrame()
for i in range(len(weather_clean_1415)):
    if weather_clean_1415['Datetime'][i][14:] == '50:00<br />':
        weather_clean_1415_r = weather_clean_1415_r.append(weather_clean_1415.iloc[(i)])
for i in range(len(weather_clean_1415_r)):
    weather_clean_1415_r['Datetime'][i] = weather_clean_1415_r['Datetime'][i][:19]        
weather_clean_1415_r

In [ ]:
weather_clean_1415_r.to_csv('London_weather_hourly(:50)_winter_2014-15.csv')

In [ ]:
#2014-15 20 min data

In [ ]:
weather_clean_1415_r = pd.DataFrame()
for i in range(len(weather_clean_1415)):
    if weather_clean_1415['Datetime'][i][14:] == '20:00<br />':
        weather_clean_1415_r = weather_clean_1415_r.append(weather_clean_1415.iloc[(i)])
        
for i in range(len(weather_clean_1415_r)):
    weather_clean_1415_r['Datetime'][i] = weather_clean_1415_r['Datetime'][i][:19]
        
weather_clean_1415_r

In [ ]:
#weather_clean_1314_r = weather_clean_1314.iloc[:]
#for i in range (1, 2802):
    #weather_clean_1314_r = weather_clean_1314_r.append(weather_clean_1314.iloc[(3 * i)])
    
#weather_clean_1314_r

In [ ]:
weather_clean_1415_r.to_csv('London_weather_hourly(:20)_winter_2014-15.csv')

In [ ]:
#2014-15 00 min data

In [ ]:
weather_clean_1415_r = pd.DataFrame()
for i in range(len(weather_clean_1415)):
    if weather_clean_1415['Datetime'][i][14:] == '00:00<br />':
        weather_clean_1415_r = weather_clean_1415_r.append(weather_clean_1415.iloc[(i)])
        
for i in range(len(weather_clean_1415_r)):
    weather_clean_1415_r['Datetime'][i] = weather_clean_1415_r['Datetime'][i][:19]
    
    
weather_clean_1415_r

In [ ]:
#weather_clean_1314_r = weather_clean_1314.iloc[:]
#for i in range (1, 2802):
    #weather_clean_1314_r = weather_clean_1314_r.append(weather_clean_1314.iloc[(3 * i)])
    
#weather_clean_1314_r

In [ ]:
weather_clean_1415_r.to_csv('London_weather_hourly(:00)_winter_2014-15.csv')

In [ ]:
#2013-14 50 min data

In [ ]:
io = pd.read_csv('Cleaned_Weather_Data/London_weather_hourly(:20)_winter_2013-14.csv')
io

In [ ]:
io['DateUTC<br />'][6][:19]

In [ ]:
for i in range(len(io)):
    io['Datetime'][i] = io['Datetime'][i][:14] + '00:00'
        
        
io

In [ ]:
weather_clean_1314_r.to_csv('London_weather_hourly(:00)_winter_2013-14.csv')

In [21]:
data2 = pd.DataFrame()
# getting Dec 2012 data
for i in range (1,32):
    nrg = pd.read_csv('https://www.wunderground.com/history/airport/EGLL/2012/12/' + str(i) + '/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1')
    nrg['Date'] = '2012/12/' + str(i)
    data2 = pd.concat([data2, nrg])

    
data2.describe()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

,TemperatureF,Dew PointF,Humidity,Sea Level PressureIn,VisibilityMPH,PrecipitationIn,WindDirDegrees
count,1712.000000,1712.000000,1712.000000,1708.000000,1710.000000,0.0,1712.000000
mean,42.675234,38.551168,84.997079,29.769227,-2017.818304,NaN,214.620327
std,7.088967,6.867367,8.311477,0.306005,4020.918459,NaN,84.307449
min,24.800000,23.000000,53.000000,28.800000,-9999.000000,NaN,0.000000
25%,37.400000,33.800000,81.000000,NaN,NaN,NaN,190.000000
50%,44.000000,39.200000,87.000000,NaN,NaN,NaN,230.000000
75%,48.200000,43.000000,93.000000,NaN,NaN,NaN,270.000000
max,56.000000,54.000000,100.000000,30.450000,31.000000,NaN,360.000000

In [22]:
# getting Jan 2013 data
for i in range (1,32):
    nrg = pd.read_csv('https://www.wunderground.com/history/airport/EGLL/2013/1/' + str(i) + '/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1')
    nrg['Date'] = '2013/1/' + str(i)
    data2 = pd.concat([data2, nrg])
# getting Feb 2013 data
for i in range (1,29):
    nrg = pd.read_csv('https://www.wunderground.com/history/airport/EGLL/2013/2/' + str(i) + '/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1')
    nrg['Date'] = '2013/2/' + str(i)
    data2 = pd.concat([data2, nrg])
# getting Mar 2013 data
for i in range (1,32):
    nrg = pd.read_csv('https://www.wunderground.com/history/airport/EGLL/2013/3/' + str(i) + '/DailyHistory.html?req_city=London&req_state=GLA&req_statename=United%20Kingdom&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=03772&MR=1&format=1')
    nrg['Date'] = '2013/3/' + str(i)
    data2 = pd.concat([data2, nrg])

In [23]:
data2.describe()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

,Dew PointF,Humidity,PrecipitationIn,Sea Level PressureIn,TemperatureF,VisibilityMPH,WindDirDegrees
count,6706.000000,6706.000000,0.0,6700.000000,6706.000000,6682.000000,6706.000000
mean,34.575365,80.514465,NaN,29.879785,40.151446,-1549.595435,164.202207
std,7.526093,12.478367,NaN,0.327259,6.710056,3625.864257,108.972136
min,14.000000,27.000000,NaN,28.800000,23.000000,-9999.000000,0.000000
25%,28.400000,75.000000,NaN,NaN,35.000000,NaN,60.000000
50%,33.800000,82.000000,NaN,NaN,39.200000,NaN,180.000000
75%,40.000000,91.000000,NaN,NaN,45.750000,NaN,260.000000
max,54.000000,100.000000,NaN,30.660000,60.800000,40.000000,360.000000

In [30]:
data2.to_csv('London_weather_winter2012-13.csv')

In [31]:
iopa = pd.read_csv('London_weather_winter2012-13.csv')
iopa.columns

Index(['Unnamed: 0', 'Conditions', 'Date', 'DateUTC<br />', 'Dew PointF',
       'Events', 'Gust SpeedMPH', 'Humidity', 'PrecipitationIn',
       'Sea Level PressureIn', 'TemperatureF', 'TimeBST', 'TimeGMT',
       'VisibilityMPH', 'Wind Direction', 'Wind SpeedMPH', 'WindDirDegrees'],
      dtype='object')

In [32]:
weather_clean_11 = iopa[['DateUTC<br />', 'Dew PointF', 'TemperatureF', 'Wind SpeedMPH']]
weather_clean_11.columns = [['Datetime', 'Dew_Point_F', 'Temperature_F', 'Wind_Speed_MPH']]

In [33]:
weather_clean_12

                     Datetime  Dew_Point_F  Temperature_F Wind_Speed_MPH
0   2012-12-01 00:20:00<br />         30.2           32.0            3.5
1   2012-12-01 00:50:00<br />         30.2           32.0            3.5
2   2012-12-01 01:20:00<br />         30.2           32.0            3.5
3   2012-12-01 01:50:00<br />         30.2           30.2            2.3
4   2012-12-01 02:20:00<br />         30.2           30.2            5.8
5   2012-12-01 02:50:00<br />         29.0           30.0            5.8
6   2012-12-01 02:50:00<br />         28.4           30.2            5.8
7   2012-12-01 03:20:00<br />         30.2           30.2            4.6
8   2012-12-01 03:50:00<br />         30.2           30.2            3.5
9   2012-12-01 04:20:00<br />         30.2           30.2            2.3
10  2012-12-01 04:50:00<br />         30.2           30.2            3.5
11  2012-12-01 05:20:00<br />         30.2           30.2            3.5
12  2012-12-01 05:50:00<br />         31.0           31.0            3.5
13  2012-12-01 05:50:00<br />         30.2           32.0            4.6
14  2012-12-01 06:20:00<br />         30.2           30.2            5.8
15  2012-12-01 06:50:00<br />         30.2           30.2            4.6
16  2012-12-01 07:20:00<br />         30.2           30.2            5.8
17  2012-12-01 07:50:00<br />         30.2           30.2            5.8
18  2012-12-01 08:20:00<br />         30.2           30.2            5.8
19  2012-12-01 08:50:00<br />         31.0           31.0            5.8
20  2012-12-01 08:50:00<br />         30.2           30.2            5.8
21  2012-12-01 09:20:00<br />         30.2           32.0            6.9
22  2012-12-01 09:50:00<br />         32.0           32.0            5.8
23  2012-12-01 10:20:00<br />         33.8           33.8            5.8
24  2012-12-01 10:50:00<br />         35.6           35.6            8.1
25  2012-12-01 11:20:00<br />         37.4           39.2           12.7
26  2012-12-01 11:50:00<br />         34.0           39.0           10.4
27  2012-12-01 11:50:00<br />         35.6           39.2           11.5
28  2012-12-01 12:20:00<br />         37.4           41.0           11.5
29  2012-12-01 12:50:00<br />         37.4           41.0           16.1
..                        ...          ...            ...            ...
26  2013-03-31 11:50:00<br />         25.0           39.0           11.5
27  2013-03-31 11:50:00<br />         23.0           39.2           11.5
28  2013-03-31 12:20:00<br />         23.0           41.0            8.1
29  2013-03-31 12:50:00<br />         21.2           41.0           12.7
30  2013-03-31 13:20:00<br />         21.2           42.8            8.1
31  2013-03-31 13:50:00<br />         23.0           42.8           11.5
32  2013-03-31 14:20:00<br />         24.8           41.0           11.5
33  2013-03-31 14:50:00<br />         27.0           40.0           12.7
34  2013-03-31 14:50:00<br />         24.8           39.2           12.7
35  2013-03-31 15:20:00<br />         26.6           39.2           12.7
36  2013-03-31 15:50:00<br />         23.0           41.0            9.2
37  2013-03-31 16:20:00<br />         23.0           41.0           10.4
38  2013-03-31 16:50:00<br />         23.0           39.2           10.4
39  2013-03-31 17:20:00<br />         21.2           39.2            9.2
40  2013-03-31 17:50:00<br />         22.0           39.0           11.5
41  2013-03-31 17:50:00<br />         21.2           39.2           12.7
42  2013-03-31 18:20:00<br />         21.2           39.2           10.4
43  2013-03-31 18:50:00<br />         23.0           37.4           10.4
44  2013-03-31 19:20:00<br />         24.8           37.4           10.4
45  2013-03-31 19:50:00<br />         26.6           37.4            9.2
46  2013-03-31 20:20:00<br />         26.6           37.4            8.1
47  2013-03-31 20:50:00<br />         27.0           36.0            8.1
48  2013-03-31 20:50:00<br />         26.6           35.6            8.1
49  2013-03-31 21:20:00<br />         26.6           33.8            8.1
50  2013-03-31 21:50:00<br />         28.4           35.6            9.2
51  2013-03-31 22:20:00<br />         26.6           33.8            8.1
52  2013-03-31 22:50:00<br />         26.6           33.8            9.2
53  2013-03-31 23:20:00<br />         26.6           33.8            8.1
54  2013-03-31 23:50:00<br />         27.0           34.0            6.9
55  2013-03-31 23:50:00<br />         26.6           33.8            5.8

[6706 rows x 4 columns]

In [37]:
weather_clean_12.reset_index(inplace=True)

In [38]:
weather_clean_12_r = pd.DataFrame()
for i in range(len(weather_clean_12)):
    if weather_clean_12['Datetime'][i][14:] == '20:00<br />':
        weather_clean_12_r = weather_clean_12_r.append(weather_clean_12.iloc[(i)])
weather_clean_12_r.reset_index(inplace=True)

In [42]:
weather_clean_12_r

                 Datetime  Dew_Point_F  Temperature_F Wind_Speed_MPH
0     2012-12-01 00:00:00         30.2           32.0            3.5
1     2012-12-01 01:00:00         30.2           32.0            3.5
2     2012-12-01 02:00:00         30.2           30.2            5.8
3     2012-12-01 03:00:00         30.2           30.2            4.6
4     2012-12-01 04:00:00         30.2           30.2            2.3
5     2012-12-01 05:00:00         30.2           30.2            3.5
6     2012-12-01 06:00:00         30.2           30.2            5.8
7     2012-12-01 07:00:00         30.2           30.2            5.8
8     2012-12-01 08:00:00         30.2           30.2            5.8
9     2012-12-01 09:00:00         30.2           32.0            6.9
10    2012-12-01 10:00:00         33.8           33.8            5.8
11    2012-12-01 11:00:00         37.4           39.2           12.7
12    2012-12-01 12:00:00         37.4           41.0           11.5
13    2012-12-01 13:00:00         37.4           42.8           10.4
14    2012-12-01 14:00:00         35.6           42.8            9.2
15    2012-12-01 15:00:00         33.8           42.8            8.1
16    2012-12-01 16:00:00         33.8           41.0            8.1
17    2012-12-01 17:00:00         32.0           41.0            5.8
18    2012-12-01 18:00:00         32.0           39.2            6.9
19    2012-12-01 19:00:00         32.0           37.4            5.8
20    2012-12-01 20:00:00         32.0           37.4            6.9
21    2012-12-01 21:00:00         32.0           35.6            5.8
22    2012-12-01 22:00:00         30.2           35.6            6.9
23    2012-12-02 00:00:00         26.6           30.2            3.5
24    2012-12-02 02:00:00         26.6           28.4            5.8
25    2012-12-02 03:00:00         26.6           28.4            5.8
26    2012-12-02 04:00:00         26.6           26.6            6.9
27    2012-12-02 05:00:00         26.6           26.6            3.5
28    2012-12-02 06:00:00         26.6           28.4            4.6
29    2012-12-02 07:00:00         28.4           32.0            4.6
...                   ...          ...            ...            ...
2849  2013-03-30 18:00:00         26.6           39.2            8.1
2850  2013-03-30 19:00:00         28.4           37.4            6.9
2851  2013-03-30 20:00:00         26.6           35.6            4.6
2852  2013-03-30 21:00:00         26.6           35.6            5.8
2853  2013-03-30 22:00:00         26.6           37.4            5.8
2854  2013-03-30 23:00:00         24.8           35.6            5.8
2855  2013-03-31 00:00:00         24.8           32.0            4.6
2856  2013-03-31 01:00:00         24.8           30.2            3.5
2857  2013-03-31 02:00:00         24.8           30.2            3.5
2858  2013-03-31 03:00:00         24.8           28.4            3.5
2859  2013-03-31 04:00:00         23.0           28.4            3.5
2860  2013-03-31 05:00:00         23.0           26.6            3.5
2861  2013-03-31 06:00:00         24.8           28.4            3.5
2862  2013-03-31 07:00:00         26.6           32.0            4.6
2863  2013-03-31 08:00:00         28.4           37.4            9.2
2864  2013-03-31 09:00:00         24.8           39.2           10.4
2865  2013-03-31 10:00:00         23.0           39.2            6.9
2866  2013-03-31 11:00:00         24.8           39.2            9.2
2867  2013-03-31 12:00:00         23.0           41.0            8.1
2868  2013-03-31 13:00:00         21.2           42.8            8.1
2869  2013-03-31 14:00:00         24.8           41.0           11.5
2870  2013-03-31 15:00:00         26.6           39.2           12.7
2871  2013-03-31 16:00:00         23.0           41.0           10.4
2872  2013-03-31 17:00:00         21.2           39.2            9.2
2873  2013-03-31 18:00:00         21.2           39.2           10.4
2874  2013-03-31 19:00:00         24.8           37.4           10.4
2875  2013-03-31 20:00:00         26.6           37.4            8.1
2876  2013-03-31 21:00:00         26.6           33.8            8.1
2877  2013-03-31 22:00:00         26.6           33.8            8.1
2878  2013-03-31 23:00:00         26.6           33.8            8.1

[2879 rows x 4 columns]

In [43]:
#weather_clean_12_r.drop(['index', 'level_0'], 1, inplace=True)
for i in range(len(weather_clean_12_r)):
    weather_clean_12_r['Datetime'][i] = weather_clean_12_r['Datetime'][i][:14] + '00:00'    
weather_clean_12_r

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

                 Datetime  Dew_Point_F  Temperature_F Wind_Speed_MPH
0     2012-12-01 00:00:00         30.2           32.0            3.5
1     2012-12-01 01:00:00         30.2           32.0            3.5
2     2012-12-01 02:00:00         30.2           30.2            5.8
3     2012-12-01 03:00:00         30.2           30.2            4.6
4     2012-12-01 04:00:00         30.2           30.2            2.3
5     2012-12-01 05:00:00         30.2           30.2            3.5
6     2012-12-01 06:00:00         30.2           30.2            5.8
7     2012-12-01 07:00:00         30.2           30.2            5.8
8     2012-12-01 08:00:00         30.2           30.2            5.8
9     2012-12-01 09:00:00         30.2           32.0            6.9
10    2012-12-01 10:00:00         33.8           33.8            5.8
11    2012-12-01 11:00:00         37.4           39.2           12.7
12    2012-12-01 12:00:00         37.4           41.0           11.5
13    2012-12-01 13:00:00         37.4           42.8           10.4
14    2012-12-01 14:00:00         35.6           42.8            9.2
15    2012-12-01 15:00:00         33.8           42.8            8.1
16    2012-12-01 16:00:00         33.8           41.0            8.1
17    2012-12-01 17:00:00         32.0           41.0            5.8
18    2012-12-01 18:00:00         32.0           39.2            6.9
19    2012-12-01 19:00:00         32.0           37.4            5.8
20    2012-12-01 20:00:00         32.0           37.4            6.9
21    2012-12-01 21:00:00         32.0           35.6            5.8
22    2012-12-01 22:00:00         30.2           35.6            6.9
23    2012-12-02 00:00:00         26.6           30.2            3.5
24    2012-12-02 02:00:00         26.6           28.4            5.8
25    2012-12-02 03:00:00         26.6           28.4            5.8
26    2012-12-02 04:00:00         26.6           26.6            6.9
27    2012-12-02 05:00:00         26.6           26.6            3.5
28    2012-12-02 06:00:00         26.6           28.4            4.6
29    2012-12-02 07:00:00         28.4           32.0            4.6
...                   ...          ...            ...            ...
2849  2013-03-30 18:00:00         26.6           39.2            8.1
2850  2013-03-30 19:00:00         28.4           37.4            6.9
2851  2013-03-30 20:00:00         26.6           35.6            4.6
2852  2013-03-30 21:00:00         26.6           35.6            5.8
2853  2013-03-30 22:00:00         26.6           37.4            5.8
2854  2013-03-30 23:00:00         24.8           35.6            5.8
2855  2013-03-31 00:00:00         24.8           32.0            4.6
2856  2013-03-31 01:00:00         24.8           30.2            3.5
2857  2013-03-31 02:00:00         24.8           30.2            3.5
2858  2013-03-31 03:00:00         24.8           28.4            3.5
2859  2013-03-31 04:00:00         23.0           28.4            3.5
2860  2013-03-31 05:00:00         23.0           26.6            3.5
2861  2013-03-31 06:00:00         24.8           28.4            3.5
2862  2013-03-31 07:00:00         26.6           32.0            4.6
2863  2013-03-31 08:00:00         28.4           37.4            9.2
2864  2013-03-31 09:00:00         24.8           39.2           10.4
2865  2013-03-31 10:00:00         23.0           39.2            6.9
2866  2013-03-31 11:00:00         24.8           39.2            9.2
2867  2013-03-31 12:00:00         23.0           41.0            8.1
2868  2013-03-31 13:00:00         21.2           42.8            8.1
2869  2013-03-31 14:00:00         24.8           41.0           11.5
2870  2013-03-31 15:00:00         26.6           39.2           12.7
2871  2013-03-31 16:00:00         23.0           41.0           10.4
2872  2013-03-31 17:00:00         21.2           39.2            9.2
2873  2013-03-31 18:00:00         21.2           39.2           10.4
2874  2013-03-31 19:00:00         24.8           37.4           10.4
2875  2013-03-31 20:00:00         26.6           37.4            8.1
2876  2013-03-31 21:00:00         26.6           33.8            8.1
2877  2013-03-31 22:00:00         26.6           33.8            8.1
2878  2013-03-31 23:00:00         26.6           33.8            8.1

[2879 rows x 4 columns]

In [44]:
weather_clean_12_r.to_csv('London_weather_hourly_winter_2012-13_(00).csv')